/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
composer.json
composer.lock
ems.png
example_user_input3.php
ISO-9001.gif
iso-9001.jpg
iso14001.png
LICENSE
logo.png
mpdf_invoice.php
mpdf_test.php
offer_letter
offer_letter.pdf
README.md
test.html
backend/composer.json
backend/composer.lock
backend/iso14001.png
backend/offer_letter
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensed.cw.dat
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensed.gid.dat
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensed.mtx.json
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensedB.cw.dat
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensedB.gid.dat
backend/app/Utilities/custom/temp/dir/path/mpdf/ttfontdata/dejavuserifcondensedB.mtx.json
backend/public/assets/static/iso-9001.jpg
backend/public/assets/static/iso14001.png
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.cw.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.cw127.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GDEFdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.gid.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GPOSdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUB.arab.DFLT.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUB.arab.KUR .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUB.arab.SND .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUB.arab.URD .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUB.nko .DFLT.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUBdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.GSUBGPOStables.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensed.mtx.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.cw.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.cw127.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GDEFdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.gid.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GPOSdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUB.arab.DFLT.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUB.arab.KUR .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUB.arab.SND .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUB.arab.URD .json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUB.nko .DFLT.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUBdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.GSUBGPOStables.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedB.mtx.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.cw.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.GDEFdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.gid.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.GPOSdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.GSUBdata.json
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.GSUBGPOStables.dat
custom/temp/dir/path/mpdf/ttfontdata/dejavusanscondensedI.mtx.json
mpdf_test/example_user_input.php
mpdf_test/example_user_input2.php
