:root {
  --primary-color: #0d7000;
  --light-grey-border: rgb(226, 226, 226);
  --font-white: white;
  --bacground-gray: #f8f7f7;
  --background-white: white;
  --font-dark: rgb(41, 41, 41);
  --light-dark: rgb(105, 105, 105);
  --dark-grey-background: #313131;
  --button-blue: #009fd4;
  --button-red: #dc3545;
}
p {
  color: var(--font-dark);
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1rem;
}
.sidebar-header img {
  height: 35px;
  width: 35px;
  margin: 0;
  margin-right: 10px;
}
#sidebar .sidebar-header {
  padding-top: 5px;
}
.sidebar-header .header-logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-header .header-logo p {
  font-size: 2rem;
  margin: 0;
  color: var(--font-white);
  text-decoration: none;
}
.header-name {
  text-align: justify;
  width: 100%;
}
.header-name h3 {
  display: inline-block;
}
#sidebar ul p {
  padding: 0;
}
.list-unstyled p {
  margin-top: 2px;
}
.list-unstyled a span {
  font-size: 1rem;
}
section {
  margin-bottom: 25px;
}
/* WElcome banner */
.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 25vh;
  width: 100%;
  background-image: url("../../assets/static/shapelined-_JBKdviweXI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 0%;
}

.welcome-banner p {
  margin-bottom: 0;
  color: var(--font-dark);
  font-size: 1.2em;
  font-weight: 400;
}
.welcome-banner h2 {
  font-size: 2.8em;

  font-weight: bolder;
}
.notifications-display {
  padding-left: 20px;
}
/* Statistics */
.page-title {
  margin: 0px 0px 20px 0px;
}
.statistics-section .statistics-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.statistics-details .graph-summary {
  position: relative;
  flex: 1.5;
  min-height: 35vh;
  border-radius: 4px;
  margin-right: 15px;
  padding: 10px 20px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.statistics-details .summary-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.summary-cards div {
  height: 15vh;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 15px;
}
.summary-cards .summary-card-title {
  color: var(--font-white);
  margin-bottom: 0;
  font-weight: bold;
}
.summary-cards .summary-number {
  color: var(--font-white);
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.7rem;
  padding-left: 5px;
}
.summary-cards .pending-approvals {
  background-color: #7dc6f8;
}
.summary-cards .ongoing {
  background-color: #fc908d;
}
/* -------------------------------------------
Adverts page
----------------------------------------- */
.advert-details div input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bacground-gray);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-size: 1rem;
}
.advert-details div input:active {
  border: none;
}
.advert-view {
  background-color: var(--bacground-gray);
  margin-top: 20px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.advert-view textarea {
  border: none;
  width: 100%;
  min-height: 100vh;
}
/*--------------------------------------
 Style display box 
 ---------------------------------------*/
.table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  overflow: scroll;
}

.display-box .custom-border {
  position: relative;
}
.display-box table {
  margin-bottom: 0;
}
.display-box table thead th {
  border-top: none;
}
.display-box tbody {
  background-color: var(--bacground-gray);
}
.display-box .custom-border:after {
  content: " ";
  position: absolute;
  border-left: 1px solid var(--light-grey-border);
  top: 25%;
  right: 0;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.actions {
  display: flex;
  flex-direction: row;
}
.action-button {
  display: block;
  width: fit-content;
  background-color: var(--button-blue);
  padding: 5px 15px;
  border-radius: 10px;
  color: var(--font-white);
}
.actions button {
  background-color: var(--button-red);
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  padding: 0px 10px;
  color: var(--font-white);
}

/* Mail Applicants */
.mail-applicants-display {
  display: flex;
  flex-direction: column;
}
.mail-applicants-display-programme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.attachment-program p {
  margin-bottom: 10px;
}
.attachment-program div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.attachment-program div img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.attachment-program select {
  border: 1px solid var(--light-grey-border);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 0px 10px;
  background-color: var(--bacground-gray);
}
.application-summary {
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.application-summary .application-summary-details {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
}
.application-summary .application-summary-details > div {
  flex: 1;
  justify-content: flex-start;
}
.application-summary-details .summary-details {
  display: flex;
  flex-direction: column;
}
.application-summary-details .summary-details > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}
.application-summary-details .summary-details .s-detail div:first-child {
  width: 40%;
  text-align: right;
  margin-right: 2vw;
}

.application-summary-details p {
  margin-bottom: 0px;
}
.summary-details .summary-input {
  display: block;
  width: fit-content;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.summary-details .summary-input p {
  width: fit-content;
}
.applicants-list .action-button {
  background-color: var(--primary-color);
}

/* Letters  */
.letters-section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 5px 20px;
}
.letters-section .new-letter {
  margin-right: 70px;
  text-align: center;
}
.letters-section .new-letter p {
  font-size: smaller;
}
.letters-section .new-letter .letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bacground-gray);
}
.letter-box {
  height: 190px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.letter-container {
  text-align: center;
  width: 150px;
  margin-right: 30px;
}
.letter-container p {
  font-size: smaller;
}
.letters-section .sample-letters {
  display: flex;
  flex-direction: row;
}

/* ----------------------------------
email section
---------------------------------- */
.mail-section .email-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 20px;
  margin: 25px 0;
  border-radius: 4px;
}
.mail-section .email-card h5 {
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.email-card p {
  margin-bottom: 4px;
}
.email-card .letter-preview select {
  border: none;
  background-color: var(--bacground-gray);
  padding: 0 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* ----------------------------------
evaluations
---------------------------------- */
th.table-subheading {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  /* align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; */
}

div.filter-forms {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
div.download-form-container {
  max-width: 800px;
}